img {
    border: 5px solid black;
}

span {
    font-weight: bold;
}

.parrafo {
    font-style: oblique;
}

#todo {
    text-align: center;
}

.fin {
    color: green;
}

.mayor {
    color: blue;
}

.menor {
    color: red;
}